_stuff
_acafin
_acafin_backup
_kuiter.info
_kuiter.info_backup
node_modules
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
app/mixes/*
!app/mixes/.htaccess
app/backups/*
!app/backups/.htaccess
app/songs/*
app/tracks/*
app/dist/*
app/index.html
app/php/local.php
app/php/mix.mp4
app/php/background.png
app/.htpasswd
app/favicon.ico
config.json
config2.json
config3.json
migrate.sh
*.zip