_stuff
_kuiter.info
node_modules
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
app/mixes/*
!app/mixes/.htaccess
app/backups/*
!app/backups/.htaccess
app/songs/*
app/tracks/*
app/dist/*
app/index.html
app/php/local.php
app/php/audiowaveform.exe
app/.htpasswd
app/favicon.ico
config.json
migrate.bat
*.zip