<If "%{REMOTE_ADDR} != '::1'">
    RewriteEngine On
    RewriteCond %{REMOTE_ADDR} !=127.0.0.1
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    AuthType Basic
    AuthName "Speak Friend And Enter"
    AuthUserFile /var/www/html/.htpasswd
    Require valid-user
</If>