packages:
    yum:
        make: []
        cmake: []
        gcc-c++: []
        gd-devel: []
        boost-devel: []

sources:
    /opt/src/audiowaveform: http://github.com/bbc/audiowaveform/archive/1.4.1.zip
    /opt/src/googletest: http://github.com/google/googletest/archive/release-1.8.0.tar.gz
    /opt/src/libmad: https://src.fedoraproject.org/repo/pkgs/libmad/libmad-0.15.1b.tar.gz/1be543bc30c56fb6bea1d7bf6a64e66c/libmad-0.15.1b.tar.gz
    /opt/src/libsndfile: http://www.mega-nerd.com/libsndfile/files/libsndfile-1.0.28.tar.gz
    /opt/src/libid3tag: https://src.fedoraproject.org/repo/pkgs/libid3tag/libid3tag-0.15.1b.tar.gz/e5808ad997ba32c498803822078748c3/libid3tag-0.15.1b.tar.gz

files:
    /usr/lib/pkgconfig/mad.pc:
        mode: "000755"
        owner: root
        group: root
        content: |
            prefix=/usr
            exec_prefix=${prefix}
            libdir=${exec_prefix}/lib
            includedir=${prefix}/include

            Name: mad
            Description: MPEG audio decoder
            Requires:
            Version: 0.15.1b
            Libs: -L${libdir} -lmad
            Cflags: -I${includedir}

    /etc/ld.so.conf.d/libsndfile:
        mode: "000644"
        owner: root
        group: root
        content: |
            /usr/lib/

commands:
    00-install-libmad-make:
        command: "sed -i '/-fforce-mem/d' configure"
        cwd: /opt/src/libmad/libmad-0.15.1b/

    01-install-libmad-make:
        command: "./configure --prefix=/usr && make && make install"
        cwd: /opt/src/libmad/libmad-0.15.1b
        test: "[ ! -f /usr/local/bin/audiowaveform ]"

    01-install-libsndfile-make:
        command: "./configure --prefix=/usr --disable-static --docdir=/usr/share/doc/libsndfile-1.0.28 && make && make install"
        cwd: /opt/src/libsndfile/libsndfile-1.0.28
        test: "[ ! -f /usr/local/bin/audiowaveform ]"

    02-install-libid3tag-make:
        command: "./configure --prefix=/usr && make && make install"
        cwd: /opt/src/libid3tag/libid3tag-0.15.1b
        test: "[ ! -f /usr/local/bin/audiowaveform ]"

    03-audiowaveform-ln-test:
        command: "ln -s ../../googletest/googletest-release-1.8.0/googletest ./googletest"
        cwd: /opt/src/audiowaveform/audiowaveform-master/
        test: "[ ! -L ./googletest ]"
    04-audiowaveform-ln-mock:
        command: "ln -s ../../googletest/googletest-release-1.8.0/googlemock ./googlemock"
        cwd: /opt/src/audiowaveform/audiowaveform-master/
        test: "[ ! -L ./googlemock ]"
    05-audiowaveform-mkdir-build:
        command: "mkdir build"
        cwd: /opt/src/audiowaveform/audiowaveform-master/
        test: "[ ! -d ./build ]"
    06-audiowaveform-cmake:
        command: "cmake -D ENABLE_TESTS=0 .."
        cwd: /opt/src/audiowaveform/audiowaveform-master/build/
        test: "[ ! -f /usr/local/bin/audiowaveform ]"
    07-audiowaveform-make:
        command: "make"
        cwd: /opt/src/audiowaveform/audiowaveform-master/build/
        test: "[ ! -f /usr/local/bin/audiowaveform ]"
    08-audiowaveform-make-install:
        command: "make install"
        cwd: /opt/src/audiowaveform/audiowaveform-master/build/
        test: "[ ! -f /usr/local/bin/audiowaveform ]"

    09-ldconfig:
        command: "ldconfig"
