files:
    "/etc/php.d/99php.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            upload_max_filesize = 20M
            post_max_size = 20M

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /app
    max_execution_time: 60