files:
    "/etc/php.d/99php.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            memory_limit = 4095M
            upload_max_filesize = 4095M
            post_max_size = 4095M

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /app
    max_execution_time: 60